<div class="card col-sm-12 offset-md-3" style="background-image: url('./assets/about_bg.jpg'); background-color: wheat;">

    <div class="header">

        <h1>WELCOME TO LTI AIRLINE SYSTEM</h1>
    </div>

    <div class="para1">
        <h2>Why book with LTI airline system?</h2>
        <p>
            LTI airline system provides a safe and secured journey. We’re here to make it easy for you to find flights, bag bargains – and make travel simpler. At LTI airline system we’re dedicated to offering you the widest range of flight deals helping you to compare
            prices and features. Our ground-breaking technology enables you to search millions of flight and price options giving you a bird’s eye view; enabling you to pick the options that best meet your particular needs.We always ensure our customer's
            satisfaction and safety while travelling.We will be always available throughout your journey.
        </p>
        <p>
            Get a secure flight booking. Enjoy cancellation protection on flights. Benefit from fare drop protection, same day cancellation protection, on flight bookings. Great filters, fantastic navigation.All the flights were properly sanitized and we provide
            the atmost safety for our customers.
        </p>
    </div>
    <div class="para2">
        <h2>Your safety is our priority</h2>
        <ul>
            <li>Get tested 1-3 days before travel</li>
            <li>Get tested 3-5 days after travel and self-quarantine for 7 days</li>
            <li>Avoid crowds and stay at least 6 feet/2 meters (about 2 arm lengths) from anyone who is not traveling with you.</li>
            <li>Wear a mask over your nose and mouth </li>
            <li>Self-monitor for symptoms</li>

        </ul>
    </div>
</div>
<br>
<br><br>
<br><br>
<br>
<br><br>
<br>