<table class="table table-light table-striped">
    <thead>
      <tr>
        <th scope="col">Flight Number</th>
        <th scope="col">Seat Number</th>
        <th scope="col">Seat Type</th>
        <th scope="col">Seat Cost</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of seatList;">              
            <td> {{s.seatNumber}} </td>
            <td> {{s.flightNumber}} </td>
            <td> {{s.seatType}} </td>
            <td> {{s.seatCost}} </td> 
        </tr>
    </tbody>
  </table>

<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br><br>
<br>
<br>
<br>
<br>
<br>
