<div class="card col-sm-12 offset-md-3" style="background-image: url('./assets/about_bg.jpg'); background-color: wheat;">

    <div class="header">

        <h1>FAQ's</h1>
    </div>

    <div>
        
        <h2>1.Do I have to pay anything extra at the airport or in flight?</h2>
        <p>You have to pay only if: -You are carrying excess baggage, You purchase a meal during the flight, You request a special seat.</p>


        <h2>2. How do I know my reservation?</h2>
        <p>You will receive an SMS and email on confirmation of your booking with LTI airline system.</p>

        <h2>3.Do I need to confirm my flight reservation?</h2>
        <p>There is no need to confirm your reservation.If you need any information , you can login to Bookings or contact our mail id.</p>

        <h2>4.Do I need to re-confirm my flight before departure?</h2>
        <p>It is not necessary to confirm reservations for domestic flights.</p>

        <h2>5.How do I confirm my seats?</h2>
        <p>The facility is available only for frequent fliers and business class passengers ,otherwise you can request for seats at the check in counter.</p>
        
        <h2>6.How to I cancel a flight reservation?</h2>
        <p>You can cancel booking online by visiting booking section on our app or website before 3 hours of flight departure.</p>

        <h2>7.I booked a ticket, but found the ticket is not confirmed?</h2>
        <p>In rare cases, it may take longer for the email to reach the customer. In case this has happened to you, we apologize for the inconvenience. In the meantime, please check for your confirmation on section. In case there is no information, please
            click on and allow us to help you.</p>

        <h2>8.Can I use an international credit card for payment?</h2>
        <p>Yes, all international cards can be used to make payment for a booking.</p>

        <h2>9.How do we contact LTI airline System?</h2>
        <p>you can contact LTIairlinesystem.com through email or mobile number provided in the website.</p>

        <h2>10.Do I need to confirm my flight reservation before I fly?</h2>
        <p>No, you don't need to do that. It is advisable to have your e-ticket handy for quick entry into the airport.</p>

    </div>

</div>