
<div class="row offset-md-6">
    
    <div>
      
        <div class="col-md-12 col-sm-12 col-xs-12 booking-header"><b><i><h5>Booking Successfully Completed!!</h5></i></b></div>
        <hr class="booking-hr"/>
        
            <div class="col-md-12 col-sm-12 col-xs-12"><b>Flight Id: </b>BA 1001</div>
            <div class="col-md-12 col-sm-12 col-xs-12"><b>Ticket Fare: </b>4000</div>
            <div class="col-md-12 col-sm-12 col-xs-12"><b>Seat Number: </b>F2</div>
            <div class="col-md-12 col-sm-12 col-xs-12"><b>Booking Id: </b> 1001</div>
            <div class="col-md-12 col-sm-12 col-xs-12"><b>Booking Status: </b> Successful</div>
            <div class="col-md-12 col-sm-12 col-xs-12"><b>Transaction Type: </b>Net Banking</div>
            <div class="col-md-12 col-sm-12 col-xs-12"><b>Transaction Id: </b> 69</div>
            <div class="col-md-12 col-sm-12 col-xs-12"><b>Payment Status: </b> Successful</div>
            <div class="col-md-12 col-sm-12 col-xs-12"><span class="badge badge-success">23.03.2022 16:59</span></div>
          </div>
          
        </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
