
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="wrapper">
          <div class="row">
              <div class="card col-md-5 offset-md-7 shadow-lg p-3 mb-5 bg-white">
                  <h3 style="margin-top: 20px;">Admin Login</h3>
                  <div class="row">
                    <label for="Username">Username:</label>
              <input class="form-control" formControlName="Username" id="Username" [(ngModel)]="adminId">
              <div *ngIf="submitted && loginForm.controls.Username.errors" class="error" >
                <div class="text-danger" *ngIf="loginForm.controls.Username.errors.required">Username is required</div>
              </div>
                    <!-- User Name : <input class="form-control" type="text" name="username" [(ngModel)]="username"> -->
                  </div>
                  <div class="row">
                    <label for="Password">Password:</label>
              <input  class="form-control" formControlName="Password" id="Password" [(ngModel)]="password">
              <div *ngIf="submitted && loginForm.controls.Password.errors" class="error">
                <div class="text-danger" *ngIf="loginForm.controls.Password.errors.required">Password is required</div>
              </div>
                      <!-- Password : <input class="form-control" type="password" name="password" [(ngModel)]="password"> -->
                  </div>
                  <div class="row">
                    <button class="logInBtn btn btn-primary">Login</button>
                    <button class="logInBtn btn btn-danger" type="reset">Cancel</button>
                    <div routerLinkActive="active">
                    <a routerLink="/forgotpassword" class="forgetpass">Forget Password?</a>
                    </div>
                      <!-- <button (click)=checkLogin() class="logInBtn btn btn-success">
                          Login
                        </button> -->
                  </div>
                  
              </div>
          </div>
        </div>
        
    </form>
    