<table class="table table-light table-striped">
    <thead>
        <tr class="table-primary">
            <th scope="col">Flight Number</th>
            <th scope="col">Flight Name</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>

            <th scope="col">Return Date</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of flightList;">
            <td> {{f.flightNumber}} </td>
            <td> {{f.flightName}} </td>
            <td> {{f.origin}} </td>
            <td> {{f.destination}} </td>

            <td> {{f.returnDate}} </td>

        </tr>
    </tbody>
</table>

<br>
<br>
<br>


<table class="table table-light table-striped">
    <thead>
        <tr class="table-primary">
            <th scope="col">Flight Number</th>
            <th scope="col">Flight Name</th>
            <th scope="col">Origin</th>
            <th scope="col">Destination</th>

            <th scope="col">Return Date</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of flightList;">
            <td> {{f.flightNumber}} </td>
            <td> {{f.flightName}} </td>
            <td> {{f.destination}} </td>
            <td> {{f.origin}} </td>
            <td> {{f.returnDate}} </td>

        </tr>
    </tbody>
</table>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>