<!-- BODY -->
<div class="wrapper">

    <form class="form-group" class="addForm" class="card shadow-lg p-3 mb-5 bg-transparent rounded">
        <div id="form">
            <h1 class="text-center" style="color:#30c4db; text-align:center"><b>Welcome To The AirLine Reservation System </b></h1>
            <h3 class="text-black"><b>Search Flight</b></h3>
            <!--text-white-->
            <!--form-->



            <div id="input">



            </div>



            <div id="input2">
                <label><b>Departure Date</b></label>
                <input type="date" id="input-group" name="dd" [(ngModel)]="model.dd" #dd="ngModel" placeholder="Departure Date" required>
                <div *ngIf="submitted && addForm.controls.fName.errors" class="error">
                    <div class="text-danger" *ngIf="addForm.controls.fName.errors.required">FirstName is required</div>
                </div>
                &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><b>Return Date: </b></label>
                <input type="date" id="input-group" name="round" [(ngModel)]="model.rd" #rd="ngModel" placeholder="Return Date"><br /><br>

                <!--<input type="date" id="otherlan" name="round" disabled="disabled"  placeholder="return datess"> -->

            </div>
            <div id="input">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label><b>Preferred Airline:</b></label>
                <select id="input-group" style="background: #405d27; color:aliceblue" name="airlines" [(ngModel)]="model.airlines" #airlines="ngModel" required>
              <option value="">Preferred Airline</option>
              <option value="IndiGo">IndiGo</option>
              <option value="AirIndia">AirIndia</option>
              <option value="SpiceJet">SpiceJet</option>
            </select>
            </div>
            <br>


            <div id="input2">
                <!--input2-->
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="number" id="input-group" name="adult" [(ngModel)]="model.adult" #adult="ngModel" placeholder="Adult(12+years)" required>
                <input type="number" id="input-group" name="child" [(ngModel)]="model.child" #child="ngModel" placeholder="Children(2-12years)" required>
                <input type="number" id="input-group" name="infant" [(ngModel)]="model.infant" #infant="ngModel" placeholder="Infant(0-2years)" required>
                <br>




                <button type="reset" class="btn btn-danger" style="padding: 1%; margin-left: 2%;">Clear Form</button>
                <button type="submit" routerLink="/flights" class="btn btn-block btn-primary" style="width:210px ;height:52px; padding: 3%;" style="background-color:gold;">Search</button>

            </div><br />

            <div id="input4">


            </div>


        </div>

        <br />




    </form>



</div>


<!-- BODY -->