<div class="card col-md-7 offset-md-6 shadow-lg p-3 mb-8" style="margin-top: 10%;">
  <h3 style="margin:auto">Forgot Password?</h3>
  <div class="form">
    <form class="login-form">
      <input type="Email" placeholder="Email"/>
      <input type="text" placeholder="Verification Code"/>
      <input type="password" placeholder="Password"/>
      <input type="password" placeholder=" Confirm Password"/>
      <button>Change Password</button>
    </form>
  </div>
</div>
  
  
  <br>
  <br>
  <br>