<head>
    <style>
        .dropdown {
            position: relative;
            display: inline-block;
            height: 50px;
        }
        
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #fafafa;
            min-width: 220px;
            padding: 12px 16px;
            z-index: 1;
        }
        
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>

<body>

    <div class="col-12 col-sm-6"></div>
    <div class="dropdown">
        <span>Admin</span>
        <div class="dropdown-content">
            <a routerLink="/adminlist" class="btn btn-primary" role="button" routerLinkActive="active">Admin List</a><br><br/>
            <a routerLink="/adminbyid" class="btn btn-primary " role="button" routerLinkActive="active">Admin By Id</a><br><br/>
            <a routerLink="/add-admin" class="btn btn-primary" role="button" routerLinkActive="active">Add Admin</a>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="dropdown">
        <span>Flights</span>
        <div class="dropdown-content">
            <a routerLink="/admin-search-list" class="btn btn-primary " role="button" routerLinkActive="active">Flights</a><br><br/>
            <a routerLink="/flightbyid" class="btn btn-primary " role="button" routerLinkActive="active">Flights By Id</a><br><br/>
            <a routerLink="/addflight" class="btn btn-primary " role="button" routerLinkActive="active">Add Flights</a><br><br/>
            <a routerLink="/deleteflight" class="btn btn-primary " role="button" routerLinkActive="active">Delete Flights</a>

        </div>

    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="dropdown">
        <span>Passenger</span>
        <div class="dropdown-content">
            <a routerLink="/passengers" class="btn btn-primary " role="button" routerLinkActive="active">Passengers</a><br><br/>
            <a routerLink="/passbyid" class="btn btn-primary " role="button" routerLinkActive="active">Passengers By Id</a>
        </div>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="dropdown">
        <span>Transactions</span>
        <div class="dropdown-content">
            <a routerLink="/transaction" class="btn btn-primary " role="button" routerLinkActive="active">List of All Transactions</a><br><br/>
            <a routerLink="/transactionById" class="btn btn-primary " role="button" routerLinkActive="active">Transactions By Id</a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</body>